body {
  margin: 0;
  width: 97vw;
  /* border: 1px solid yellow; */
}

.top {
  margin: 0;
}

.banner-1 {
  height: 70vh;
  width: 97vw;
  /* border: 1px solid green; */
}

.banner-1 img {
  width: 97vw;
  height: 70vh;
  overflow: auto;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 2em;
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#first > ul {
  float: right;
  margin-top: -15px;
  /* border: 1px solid red; */
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#first ul li {
  display: inline;
  height: 20px;
  padding: 10px;
  margin-right: 20px;
}

#second > ul {
  align-items: center;
  /* border: 1px solid red; */
  width: 90%;
  /* margin-top: 50px; */
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#second ul li {
  display: inline;
  padding: 12px;
}

#second ul img {
  max-width: 120px;
}
.middle {
  overflow: auto;
}

.middle-1 {
  height: 70vh;
  width: 80vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  margin: 8em;
  margin-top: 5%;

  /* border: 1px solid red; */
}

#one {
  height: 50vh;
  width: 50vw;
}

#two {
  height: 50vh;
  width: 25vw;
}

.middle-2 {
  height: 70vh;
  width: 80vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  margin: 8em;
}

#three {
  height: 50vh;
  width: 24vw;
}

#four {
  height: 50vh;
  width: 52vw;
}

.middle-3 {
  height: 70vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 8em;
}

#five {
  height: 50vh;
  width: 24vw;
}

#six {
  height: 50vh;
  width: 24vw;
}

#seven {
  height: 50vh;
  width: 25vw;
}


.banner-2 img {
  width: 97vw;
  height: 70vh;
}

.lower {
  height: 70vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 8em;
}

#eight {
  height: 50vh;
  width: 35vw;
}

#nine {
  height: 50vh;
  width: 35vw;
}


footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

@media screen and (max-width: 600px) {
	.logo {
	margin: 30px 0;
	width: 100px;
	}

	.bg-mobile {
		display: block;
		margin-left: -40px;
		margin-right: -40px;
		width: calc(100% + 80px);
	}

	h1 {
		font-size: 40px;
	}

	.left {
		width: 100%
	}

	.right {
		display: none;
	}
}